<section class="facts-area bg-dark" id="facts-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 single-fact">
        <h1 class="counter">236</h1>
        <p>Séances effectuées</p>
      </div>
      <div class="col-lg-3 col-md-6 single-fact">
        <h1 class="counter">5084</h1>
        <p>Clients satisfés</p>
      </div>
      <div class="col-lg-3 col-md-6 single-fact">
        <h1 class="counter">19</h1>
        <p>Pays</p>
      </div>
      <div class="col-lg-3 col-md-6 single-fact">
        <h1 class="counter">40%</h1>
        <p>Femmes</p>
      </div>
    </div>
  </div>
</section>
