<nav class="navbar navbar-default" class="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">MonCoach</a>
    </div>
    <div class="navbar-collapse" >

      <ul class="nav navbar-nav">
        <li><a href="#">Nos Coachs</a></li>
        <li><a routerLink="/auth">A Propos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" routerLink="/auth">Profil<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Compte</a></li>
            <li><a href="#">Déconnexion</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

