.sportlist{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  background: black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 95%;
  margin:auto;
  padding: 9px;
  text-align: center;

}
.sportitem{
  padding: 0 10px;
}


.card-title{
  color:white;
  padding:15px 0px;
}

#card{
  box-shadow: 0 0px 8px 0 rgba(255,255,255,0.3);
  background:#161616;
  cursor: pointer;
  width:300px;
  text-align: center;
}
